
</div>
<footer>
    <section>
        REST API:er best practices
    </section>
    <section>
        @rickard2
    </section>
    <section>
        http://rickard2.github.io/REST-API/
    </section>
</footer>
</div>
<script src="../components/reveal.js/lib/js/head.min.js"></script>
<script src="../components/reveal.js/js/reveal.js"></script>
<script>Reveal.initialize({
    transition: 'linear',
    controls: false,
    history: true,
    dependencies: [
        { src: '../components/reveal.js/plugin/highlight/highlight.js', async: true, callback: function () {
            hljs.initHighlightingOnLoad();
        } }
    ]
});</script>
</body>
</html>