<!doctype html>
<html lang="sv_se">
<head>
    <meta charset="UTF-8">
    <title>REST API:er best practices</title>
    <link rel="stylesheet" href="../components/reveal.js/css/reveal.css"/>
    <link rel="stylesheet" href="../components/reveal.js/css/theme/simple.css"/>
    <link rel="stylesheet" href="../style/style.css"/>
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/default.min.css"/>
    <style type="text/css">
        table.wide {
            width: 1000px;
        }
        table {
            margin: auto;
        }

        .reveal pre code {
            max-height: 550px;
        }
    </style>
</head>
<body>
<div class="reveal">
    <div class="slides">